<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/shows/create" method=POST>
        <label for="">Title: <input type="text" name="title"></label> <br>
        <label for="">Network: <input type="text" name="network"></label> <br>
        <label for="">Release Date: <input type="date" name="release_date"></label> <br>
        <label for="">Description: <textarea name="description"></textarea></label> <br>
            <input type="submit" value="Create">
    </form>
    <a href="/dashboard">All Shows</a>
    <a href="/users/logout">Logout</a>
</body>

</html>