<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Editing: {{ show.title }}</h1>
    <form action="/show/edit/{{ show.id }}" method=POST>
        <label for="">Title: <input type="text" name="title" value='{{ show.title }}'></label> <br>
        <label for="">Network: <input type="text" name="network" value='{{ show.network }}'></label> <br>
        <label for="">Release Date: <input type="date" name="release_date" value='{{ show.release_date.date() }}'></label> <br>
        <label for="">Description: <textarea name="description">{{ show.description }}</textarea></label> <br>
            <input type="submit" value="Update">
            <a href="/dashboard">Cancel</a>
            <a href="/users/logout">Logout</a>
    </form>
</body>
</html>