<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2> Viewing: {{ show.title }}</h2>

    <table>
        <tr>
            <td>Network:</td>
            <td>{{ show.network }}</td>
        </tr>
        <tr>
            <td>Release Date:</td>
            <td>{{ show.release_date.date() }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ show.description }}</td>
        </tr>
    </table>

    <p>Posted by: {{ show.first_name }} {{ show.last_name }} </p>

    <p>Likes: {{ show.num_of_likes }}</p>

    <a href="/dashboard">All shows</a>
    <a href="/users/logout">Logout</a>
</body>

</html>